:root {
    font-size: 18px;
}

* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

.click {
    cursor: pointer;

    &:hover {
        opacity: .7
    }
    &:active {
        opacity: .5;
    }
}