    * {
        font-family: "Space Mono", monospace;
        box-sizing: border-box;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 32px;
        }
    }

    .click {
        cursor: pointer;

        &:hover {
            opacity: .7
        }
        &:active {
            opacity: .5;
        }
    }